<mat-list-item class="primary-imenu-item" role="listitem">
    <mat-form-field class="select-form">
        <mat-select 
        placeholder="Questions" 
        name="question" 
        class="filter-select" 
        [(ngModel)]="selectedQuestions" 
        [compareWith]="equals"
        multiple 
        #yearSelect>
          <mat-option disabled="disabled" class="filter-option">
            <button 
            mat-raised-button 
            class="mat-primary fill text-sm" 
            (click)="selectAll(questionSelect, questions, selectedQuestions)">Select All
            </button>
            <button 
            mat-raised-button 
            class="mat-accent fill text-sm" 
            (click)="deselectAll(questionSelect)">
            Deselect All
            </button>
          </mat-option>
          <mat-option *ngFor="let question of questions" [value]="question">
            {{question.Question}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </mat-list-item>

<div *ngFor="let Question of selectedQuestions">
   {{ Question.Question }}
</div>

<button mat-button color="primary" (click)="Validate()">
  Valider mes questions
</button>

